/* gregorygundersen.com
 * 2020-02-16
 * Slighty modified by Federico Bergamin
 * 2020-11-21

 */

body {
	color: rgba(0, 0, 0, 0.8);
	font-family: -apple-system, Helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 0;
	background-color: rgb(244, 241, 241);
}
a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: underline;
}
a:hover {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
.mono {
	font-family: courier;
}
#index {
	max-width: 600px;
	margin: 70px auto 100px auto;
}
#about {
	margin-top: 60; 
}
#contact {
	font-family: courier;
	margin: 0;
	padding: 0;
}

#contact-img {
	text-align: center;
	font-family: courier;
	margin: 0;
	padding: 0;
}
ul#links {
	list-style-type: none;
	padding-left: 0;
	margin: 15px 0 20px 0;
	font-weight: bold;
}
ul#links li {
	font-family: -apple-system, helvetica, arial, sans-serif;
	display: inline;
	margin-right: 20px;
	margin-top: 15px;
}
ul#links li a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
ul#links li a:hover {
	text-decoration: underline;
}
.section ul {
	padding-left: 15px;
}
#photo img {
	width: 20%;
}
#photo #caption {
	color: rgba(0, 0, 0, 0.5);
	margin-top: 0;
	font-size: 12px;
	float: right;
}
.nav,
#papers {
	max-width: 700px;
	margin: 0 auto 100px auto;
}
#papers {
	margin-top: 40px;
}
#papers h1 {
	margin-top: 60px;
	margin-bottom: 40px;
}
#papers .paper-row {
	margin-bottom: 30px;
}
#papers .paper-title,
#papers .paper-authors,
#papers .paper-venue,
#papers .paper-links {
	margin: 0;
}
#papers .pub-links {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}
.nav {
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	border-bottom: none;
	font-size: 12px;
}
.nav a:hover {
  	font-weight: bold;
}
.nav ul {
	list-style-type: none;
	padding: 0;
}
.nav ul li {
	display: inline;
	margin-right: 10px;
}

.fa {
        padding: 1px;
        font-size: 1.5em;
        width: 35px;
        text-align: left;
        text-decoration: none;
        color:black;
        /*border:2px solid black;*/
    }
.fa:hover {
      text-decoration: none;
}
#footer {
       text-align: center;
	   position:sticky;
       bottom: 0px;
       width: 100%;
	   font-size: 10px; !important
   }

.column {
float: left;
width: 50%;
padding-left: 0px;
padding-right: 0px;
}
.column-picture {
float: left;
}
.left {
	width: calc(175px + 1.5em);
}
.right {
	width: calc(100% - 175px - 1.5em);
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.portrait {
	padding-top: 15px;
	width: 180px;
}

li:nth-child(7) {
	list-style-type: none; 
 }

/* Mobile.
 */
@media screen and (max-width: 600px) {
	body {
		margin: 0 7px 0 7px !important;
	}
}

/* Stuff I am trying out.
 */
 .status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff;  White background */
    color: #7f7f7f;  /* Black text */
    padding: 10px 20px;
    font-weight: normal;
    font-size: 13px;
   /* border-bottom: 1px solid #e0e0e0;  Light grey border for subtle separation */
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-icon {
    margin-left: 5px;
}